<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="dotnet.cli" value="https://dotnet.myget.org/F/dotnet-cli/api/v3/index.json" />
    <add key="dotnet.core" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />
    <add key="RC2" value="https://www.myget.org/F/aspnetvnext/api/v3/index.json" />
    <add key="xunit" value="https://www.myget.org/F/xunit/" />
    <add key="nugetv3" value="https://api.nuget.org/v3/index.json" />
    <add key="aspnetcidev" value="https://www.myget.org/F/aspnetcidev/api/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <add key="dotnet.cli" value="true" />
    <add key="dotnet.core" value="true" />
    <add key="RC2" value="true" />
    <add key="nugetv3" value="true" />
    <add key="aspnetcidev" value="true" />
  </disabledPackageSources>
</configuration>
